<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
 		<!-- 
 			여기에는 추후 <typeAliases> 태그를 통해 VO 클래스를 등록해 둘 것이다. 
 			이렇게 등록을 하면 mapper.xml 에서 VO 클래스를 mybatis-config.xml 등록한 이름으로 사용할 수 있다.
 		 -->
        
        <typeAliases>
        	<typeAlias type="org.motw.user.vo.UserVO" alias="userVO"/>
        </typeAliases>
    </configuration>